<!DOCTYPE HTML>
<html>
<head>
    <title>SpyRun</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>

    <script src="/bin/pixi.dev.js"></script>
	<script src="/bin/gameboard.js"> </script>
	<script src="/bin/levels.json"> </script>
	<script src="/bin/character.js"> </script>
	<script src="/bin/key.js"> </script>
	<script src="/bin/login.js"> </script>

	<script src="https://apis.google.com/js/client:platform.js" async defer> </script>
	<script src="/bin/camera.js"> </script>
	<script src="/lib/jquery.min.js" type="text/javascript"></script>
	<script src="/bin/jquery.countdown360.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>

	<div id="container" style="width: 50%; margin: 0 auto;">
		<div id="countdown"></div>
	</div>

	<!-- 
    <button id="authorize-button" style="visibility: hidden">Authorize</button>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    
    <button id="logoutbutton">Log out</button>
    -->

    <form id="myForm"> <input type="text" id="myText" value=""></form>
    <button onclick="enteredName()">Submit</button>
	<br>

    <script>

    var clientName = "New Player";
    var host = location.origin.replace(/^http/, 'ws')
	var ws = new WebSocket(host);

	ws.onmessage = function (event) {
		charState = event.data;
	};

	ws.onopen = function open() {
		console.log('connected here' + JSON.stringify(new Date()));
		ws.send(Date.now().toString(), {mask: true});
	}

	//game setup code//

	// instance
	var HEIGHT = 720;
	var WIDTH = 1080;
	var spriteNum = 1;
	var charState; 
	var spyWalkB;

    var assetsToLoader = ["images/spy.json","images/camera.json", "images/background.json","images/Level.png"];
    
    loader = new PIXI.AssetLoader(assetsToLoader);
    loader.onComplete = onAssetsLoaded;
    loader.load();

	var stage = new PIXI.Stage(0xF8F8F8);
	var renderer = PIXI.autoDetectRenderer(WIDTH, HEIGHT);

    var characters = {};
    var character;
    var gameContainer = new PIXI.DisplayObjectContainer();
    var gameBoard = new GameBoard();

    var key = new Key();
    var levelMaps = JSON.parse(Levels);

    stage.addChild(gameContainer);

    document.body.appendChild(renderer.view);


    function enteredName() {
		clientName = document.getElementById("myText").value;
		console.log("Changed name to: " + clientName);
		character.updateName(clientName);
	}

	function addCharacters() {
		var json = JSON.parse(charState);

		for (prop in json ) {
		    if (!json.hasOwnProperty(prop)) {
		        continue;
		    }
			//console.log(json[prop]);
		    var charJson = JSON.parse(json[prop]);

		    if(character[prop] == undefined){
		    	character[prop] = new Character(spyWalkB,true);
			}

		    character[prop].JSONupdate(charJson);
		}
	}

	//character.addOthers(characters, charState, gameContainer);

	function onAssetsLoaded() {
		/* Get the background image */
		var background = PIXI.Sprite.fromImage("/images/Level.png");
		gameContainer.addChild(background);

		//Looking into movies//
		spyWalkB = [];
		for (var i = 0; i < 4; i++){
			var texture = PIXI.Texture.fromFrame("Spy " + (i+1) +".png");
			spyWalkB.push(texture);
		}

		//var charSprite = PIXI.Sprite.fromFrame("Spy 1.png");
		character = new Character(spyWalkB , false);

		/* Set the character's starting position */
		character.setPosition(125, 95);

		/* Draw the walls on the screen */
		gameBoard.setWalls(levelMaps, gameContainer);
		gameBoard.setFinish(levelMaps, gameContainer);

		/* Add the event listeners for the button pushes */
		window.addEventListener('keydown', function(event) { 
			key.onKeyDown(event.keyCode);
		});
		window.addEventListener('keyup', function(event) { 
			key.onKeyUp(event.keyCode); 
		});

		requestAnimFrame(animate);
	}

	// This method gets called repeatedly by the Pixi driver 
	function animate() {
		requestAnimFrame(animate);

		character.updatePosition();

		addCharacters();

		renderer.render(stage);
	}

    </script>

    </body>
</html>
