<!DOCTYPE HTML>
<html>
<head>
    <title>SpyRun</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>

    <script src="/bin/pixi.dev.js"></script>
	<script src="/bin/gameboard.js"> </script>
	<script src="/bin/levels.json"> </script>
	<script src="/bin/character.js"> </script>
	<script src="/bin/key.js"> </script>
	<script src="/bin/login.js"> </script>
	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="https://apis.google.com/js/client:platform.js" async defer> </script>
	<script src="/bin/camera.js"> </script>
	<script src="/lib/jquery.min.js" type="text/javascript"></script>
	<script src="/bin/jquery.countdown360.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>

	<div id="container" style="width: 50%; margin: 0 auto;">
		<div id="countdown"></div>
	</div>

	<!-- 
    <button id="authorize-button" style="visibility: hidden">Authorize</button>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <button id="logoutbutton">Log out</button>
    -->

    <form id="myForm" autocomplete="off"> <input type="text" id="myText" value=""></form>
    	<button onclick="enteredName()">Submit</button>
	<br>

    <script>

	var clientName = "New Player";
	var init = true;
	var charIDinit = [];
	var state; 

	var socket = io.connect('http://localhost');
	console.log("Connected to socket.io");

	socket.on('connection', function (data) {
	});

	socket.on('stateupdate', function(data){
		state = data;
		//console.log("state: " + state);
	});

	//game setup code//

	// instance
	var HEIGHT = 720;
	var WIDTH = 1080;
	var spriteNum = 1;
	var spyWalkB;

    var assetsToLoader = ["images/spy.json","images/camera.json", "images/background.json","images/Level.png"];
    
    loader = new PIXI.AssetLoader(assetsToLoader);
    loader.onComplete = onAssetsLoaded;
    loader.load();

	var stage = new PIXI.Stage(0xF8F8F8);
	var renderer = PIXI.autoDetectRenderer(WIDTH, HEIGHT);

	var charIDNew = [];
    var character;
    var charIDArray = [];
    var gameContainer = new PIXI.DisplayObjectContainer();
    var gameBoard = new GameBoard();

    var key = new Key();
    var levelMaps = JSON.parse(Levels);

    stage.addChild(gameContainer);

    document.body.appendChild(renderer.view);

    function enteredName() {
		clientName = document.getElementById("myText").value;
		console.log("Changed name to: " + clientName);
		character.updateName(clientName);
	}

	function addCharacters() {
		var maxChar = -1; 
		charIDNew.length = 0;

		try{
			console.log("State: " + state);
			var json = JSON.parse(state);
		} catch(err) {
			console.log("Error JSON Parse: " + err.message);
		}

		for (prop in json ) {
		    if (!json.hasOwnProperty(prop)) {
		        continue;
		    }
			
			try{
		    	var charJson = JSON.parse(json[prop]);
		    } catch(err) {
		    	console.log("Error JSON Parse: " + err.message);
		    }

		    if(character[prop] == undefined){
		    	character[prop] = new Character(spyWalkB,true);
		    	charIDArray.push(prop);
			}

		    character[prop].JSONupdate(charJson);

		    charIDNew.push(prop);
		}

		//remove sprites
		var remove = charIDArray.diff(charIDNew);
	}

	function onAssetsLoaded() {
		/* Get the background image */
		var background = PIXI.Sprite.fromImage("/images/Level.png");
		gameContainer.addChild(background);

		//Looking into movies//
		spyWalkB = [];
		for (var i = 0; i < 4; i++){
			var texture = PIXI.Texture.fromFrame("Spy " + (i+1) +".png");
			spyWalkB.push(texture);
		}

		character = new Character(spyWalkB , false);

		/* Draw the walls on the screen */
		gameBoard.setWalls(levelMaps, gameContainer);
		gameBoard.setFinish(levelMaps, gameContainer);

		/* Add the event listeners for the button pushes */
		window.addEventListener('keydown', function(event) { 
			key.onKeyDown(event.keyCode);
		});
		window.addEventListener('keyup', function(event) { 
			key.onKeyUp(event.keyCode); 
		});

		requestAnimFrame(animate);
	}

	// This method gets called repeatedly by the Pixi driver 
	function animate() {
		requestAnimFrame(animate);

		character.updatePosition();

		addCharacters();

		character.sendState();

		renderer.render(stage);
	}

	Array.prototype.diff = function(a) {
    	return this.filter(function(i) {return a.indexOf(i) < 0;});
	};

    </script>

    </body>
</html>
