<!DOCTYPE HTML>
<html>
<head>
    <title>SpyRun</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>

    <script src="/bin/pixi.dev.js"></script>
	<script src="/bin/gameboard.js"> </script>
	<script src="/bin/levels.json"> </script>
	<script src="/bin/character.js"> </script>
	<script src="/bin/key.js"> </script>
	<script src="/bin/login.js"> </script>
	<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
	<script src="https://apis.google.com/js/client:platform.js" async defer> </script>
	<script src="/bin/camera.js"> </script>
	<script src="/lib/jquery.min.js" type="text/javascript"></script>
	<script src="/bin/jquery.countdown360.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>

	<div id="container" style="width: 50%; margin: 0 auto; background-color: white;">
		<div id="countdown"></div>
		<p id="highscore_p">Previous Best: <%= highscore %></p>
	</div>

	
    <!-- <button id="authorize-button" style="visibility: hidden">Authorize</button>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <button id="logoutbutton">Log out</button>
    -->

    <form id="myForm" autocomplete="off" onkeypress="return event.keyCode != 13;"> <input type="text" id="myText" value=""></form>
    	<button onclick="enteredName()">Submit</button>
	<br>

    <script>

    var localChar;
    var otherChars = {};
    var globalCharNames = {};
    var cameraList = [];
    
    var state; 
	var reqID = false;

    var clientName = "New Player";
	var cID = -1; 

    var host = location.origin.replace(/^http/, 'ws')
	var socket = io.connect(host);

	socket.on('connect', function () {
		console.log("Connected to socket.io");
		socket.emit('init', { id: cID });
		reqID = true;
		setTimeout(function(){
			if(cID == -1) {
				console.log("ID is blank");
			}
		} , 1000)
	});

	socket.on('state', function(data){
		state = data;
	});

	socket.on('ack', function(data){
		if(reqID == true){
			cID = JSON.parse(data).id;
			globalCharNames = JSON.parse(data).clients;
			console.log('My id is: ' + cID)
			reqID = false; 
		}
	});

	socket.on('playerjoin', function(data){
		var joined = data.id;
		//var rename = data.name;
		globalCharNames[joined] = joined;
		console.log("player" + joined + "joined.")
	});

	socket.on('playerleft', function(data){
		var dropped = data.id;
		delete globalCharNames[dropped];
		console.log("player" + dropped + "dropped.")
	});

	socket.on('playerrename', function(data){
		var id = data.id;
		var rename = data.name;
		globalCharNames[id] = rename;
		console.log("player" + id + "renamed to");
	});

	//game setup code//

	/* First set up the players high score */
	//alert(#{highscore});
	//var highScore_p = document.getElementById("highscore").value;
	//highScore_p.innerHTML = highScore;

	// instance

	var HEIGHT = 720;
	var WIDTH = 1080;
	var spriteNum = 1;
	var spyWalkB;

    var assetsToLoader = ["images/spy.json","images/camera.json", "images/background.json","images/Level.png"];
    
    loader = new PIXI.AssetLoader(assetsToLoader);
    loader.onComplete = onAssetsLoaded;
    loader.load();

    /* Array for all of the camera objects */
    var cameraList = [];

	var stage = new PIXI.Stage(0xF8F8F8);
	var renderer = PIXI.autoDetectRenderer(WIDTH, HEIGHT);


    var gameContainer = new PIXI.DisplayObjectContainer();
    var gameBoard = new GameBoard();

    var key = new Key();
    var levelMaps = JSON.parse(Levels);

    stage.addChild(gameContainer);

    document.body.appendChild(renderer.view);

    function enteredName() {
		clientName = document.getElementById("myText").value;
		console.log("Changed name to: " + clientName);
		localChar.updateName(clientName);
	}

	function addCharacters() {
		try{
			var json = JSON.parse(state);
		} catch(err) {
			console.log("Error JSON Parse");
		}

		for(var x = 0; x < 20; x++) 
		{
			otherChars[x].removeChar();
		}

		if(globalCharNames.length >= 20) {
			for(var x = 20; x < 60; x++) 
			{
				otherChars[x] = new Character(spyWalkB , false);
			}
		}

		for (prop in json) {
		    if(prop != cID) {
				try{
					var charJson = JSON.parse(json[prop]);
				} catch(err) {
					console.log("Error JSON Parse");
				}

				otherChars[prop].addChar();
		    	otherChars[prop].JSONupdate(charJson);
		    }
		}
	}

	function initCharacters() {
		for(var x = 0; x < 20; x++) 
		{
			otherChars[x] = new Character(spyWalkB , false);
		}
	}

	function onAssetsLoaded() {
		/* Get the background image */
		var background = PIXI.Sprite.fromImage("/images/Level.png");
		gameContainer.addChild(background);

		//Looking into movies//
		spyWalkB = [];
		for (var i = 0; i < 4; i++){
			var texture = PIXI.Texture.fromFrame("Spy " + (i+1) +".png");
			spyWalkB.push(texture);
		}

		localChar = new Character(spyWalkB , true);

		/* Draw the walls on the screen */
		gameBoard.setWalls(levelMaps, gameContainer);
		gameBoard.setFinish(levelMaps, gameContainer);
		gameBoard.setCameras(levelMaps, gameContainer, cameraList);

		/* Add the event listeners for the button pushes */
		window.addEventListener('keydown', function(event) { 
			key.onKeyDown(event.keyCode);
		});
		window.addEventListener('keyup', function(event) { 
			key.onKeyUp(event.keyCode); 
		});

		initCharacters();

		requestAnimFrame(animate);
	}

	// This method gets called repeatedly by the Pixi driver 
	function animate() {
		//console.log(globalCharNames)

		requestAnimFrame(animate);

		localChar.updatePosition();

		addCharacters();

		/* Update the cameras */
		for(var i = 0; i < cameraList.length; i++) {
			cameraList[i].updatePosition();
			cameraList[i].getShadowLines();
		}

		localChar.sendState();

		renderer.render(stage);
	}

    </script>

    </body>
</html>
