<!DOCTYPE HTML>
<html>
<head>
    <script src="https://apis.google.com/js/client:platform.js" async defer> </script>
    <meta name="google-signin-clientid" content="CLIENT_ID" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.css"/>
</head>
<body>
    <div class="ui page grid">
        <div class="ui vertically divided grid">
            <div class="one column row" style="height: 130px"></div>
            <div class="three column row">
                <div class="column"></div>
                <div class="column">
                    <div class="ui center aligned stacked segment">
                        <h2 class="ui header">
                            <i class="crosshairs icon"></i>
                            <div class="content">
                                Welcome to SpyRun
                            </div>
                        </h2>
                        <div class="ui divider"></div>
                        <p>
                            SpyRun is an online, interactive game to play with friends. In order to use
                            all the features of the game, please sign in below, or proceed anonymously.
                        </p>
                        <div class="ui segment">
                            <div id="signInButton" onclick="signIn()" class="fluid ui positive button">
                                <i class="sign in icon"></i>
                                Sign In
                            </div>
                            <div class="ui horizontal divider">Or</div>
                            <div id="anonymousButton" onclick="skipSignIn()" class="fluid ui button">Anonymous</div>
                        </div>
                    </div>
                </div>
                <div class="column"></div>
            </div>
            <div class="one column row" style="height: 1px"></div>
        </div>
    </div>

    <script>
        var host = location.origin;

        function skipSignIn() {
           window.location.href = host + "/login?id=" + "-1" + "&name=" + "Anonymous";
        }

        function signIn() {

            var additionalParams = {
                'callback': 'signinCallback',
                'clientid': '110770941702-t6p9u2sohgv19a6ul9ebjfioj8n0a6gt.apps.googleusercontent.com',
            };

            gapi.auth.signIn(additionalParams); // Will use page level configuration
        }

        function signinCallback(authResult) {
            if (authResult['status']['signed_in']) {
                gapi.client.load('plus', 'v1').then(function() {
                    var request = gapi.client.plus.people.get({
                        'userId': 'me'
                    });
                    request.then(function(resp) {
                        window.location.href = host + "/login?id=" + resp.result.id + "&name=" + resp.result.displayName;
                    }, function(reason) {
                        console.log('Error: ' + reason.result.error.message);
                    });
                });
            } else {
                console.log('Sign-in state: ' + authResult['error']);
            }
        }
    </script>
</body>